<!DOCTYPE html>
<html lang="en">
<title>Click</title>
<head>
    
</head>
<body>
    <button onclick="doSomething()" 
        style="background-color: #515152;
        color: #eb6c1a">
        Click !
    </button>
    <p id="count" align="center"></p>
    <script>
        function doSomething(){
            document.getElementById("count").innerHTML = "<img src=\"https://th.bing.com/th/id/OIP.LZWZNgdAn-88Xl1sOTWxnQHaHQ?pid=ImgDet&rs=1\"  width=\"720\" height=\"706\">"
        }
    </script>
</body>
</html>