<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <h1>Home Page</h1>
</head>
<body>
    <ul>
        <li><p>Click here to go to the <a href="http://127.0.0.1:42069/java">java</a> test page</p></li>
        <li><p>Click here to go to the <a href="http://127.0.0.1:42069/caca">garbage</a> page</p></li>
        <li><p>Click here to go to the <a href="http://127.0.0.1:42069/click">click</a> thing</p></li>
        <li><p>Click here to go to the <a href="http://127.0.0.1:42069/message">message</a> page</p></li>
        <li><p>Don't click <a href="http://127.0.0.1:42069/bruh">here</a> there is nothing to see</p></li>
    </ul>
</body>
</html>