<!DOCTYPE html>
<head>
    <title>Message</title>
    <style>
    textarea {
        resize: none;
      }
    </style>
</head>
<body>
    <p>Numéro de téléphone ou adresse e-mail ?</p>
    <form method="post">
        <input type="radio" id="num" name="num_or_email" value="num">
        <label for="num">Numéro</label><br>
        <input type="radio" id="email" name="num_or_email" value="email">
        <label for="email">Mail</label><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>